
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Create A New Account</h1>
        </div>
      </div>
    </div>
  </div>
</header>
 
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">



      <%- include ./partials/messages %>
      <form action="/users/register" method="POST" encType="multipart/form-data">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
          </div>
        </div>
      
        <div class="form-group my-4 text-center">
          <button class="btn btn-primary">Register now</button>
        </div>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
